/* Custom Carousel container styles */
.custom-carousel-container {
    margin-top: 5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Chapter buttons container styles */
.chapter-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

/* Number button styles */
.chapter-buttons button {
    width: 40px;
    height: 40px;
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
    /* Add a border to the buttons */
    border-radius: 50%;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

/* Active number button styles */
.chapter-buttons button.active {
    background-color: #ffcc00;
    color: #333;
}

/* Carousel content styles */
.main-content-course {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    /* Set the gap to 0 to remove space between items */
    justify-items: center;
    /* Center-align the children horizontally */
    padding-left: 10em;
    padding-right: 10em;

}

/* Adjust the width of all children */
.main-content-course>* {
    width: 400px;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 2em;
    height: 320px;
}

/* Blur effect for .blur-content class */
.blur-content {
    filter: blur(3px);
    /* Adjust the blur value as needed */
    border: 1px solid #ddd;
    /* Add a lighter border to the .blur-content class */
    border-radius: 10px;
    /* Add rounded corners */
    padding: 1rem;
    /* Optional: Add some padding to the .blur-content class */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow at the bottom */
    max-height: 300px;
    max-width: 300px;
    margin-top: 100px;
}

.active-content {
    border: 1px solid #ddd;
    /* Add a lighter border to the .active-content class */
    border-radius: 10px;
    /* Add rounded corners */
    /* padding: 1rem 2.5rem 0 0; */
    /* Optional: Add some padding to the .active-content class */
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
    border: 1px solid rgba(0, 0, 0, 0.1); /* updated */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* updated */
    /* Add a subtle shadow at the bottom */
    max-width: 400px;
    color:#333;


}

.card-top {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-bottom {
    display: block;
}

.heading-section {
    font-weight: 600;
    font-size: 22px;
    margin: 1.5em;
    color: rgb(52, 52, 146);
    position: relative; /* Ensure the ::after pseudo-element is positioned relative to this element */
  }

.heading-section::after {
    content: ''; /* Required for the pseudo-element to work */
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust the distance from the text to control the underline position */
    width: 100%;
    height: 5px; /* Adjust the height of the underline */
    background-color: yellow; /* Use yellow color for the underline */
    border-radius: 10px; /* Add rounded corners to create a curved effect */
    z-index: -1; /* Move the underline below the text */
  }


  @media (max-width: 768px) {
    .custom-carousel-container {
        margin-top: 2rem;
    }

    .chapter-buttons {
        flex-wrap: wrap;
    }

    .chapter-buttons button {
        margin-bottom: 1rem;
    }

    .main-content-course {
        grid-template-columns: 1fr;
        padding-left: 1em;
        padding-right: 1em;
    }

    .main-content-course > * {
        width: 90%;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        height: auto;
    }

    .blur-content {
        display: none;
    }
    .active-content{
        width: 100%;
        padding:10px;
    }
}
